/kotna.pdf
/moja in solska formula.png
/odvisnost od oddaljenosti - povecava.png
/Spreminjanje površine negotovosti v odvisnosti od vidnega kota in razdalje uporabnika do zveznice med baznima postajama.docx
/~$reminjanje površine negotovosti v odvisnosti od vidnega kota in razdalje uporabnika do zveznice med baznima postajama.docx